.home{
    margin-bottom: 0px;
    color: var(--main-bg-color);
    background:url(./image/home.JPG) center no-repeat;

    background-position-y: 80%;
    -moz-background-size:cover;
    background-size:cover;
    border-radius: 0;
}
.game-home {
    margin-bottom: 0px;
    color: var(--main-bg-color);
    background:url(./image/) center no-repeat;
    background: #ff0084;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #33001b, #ff0084);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #33001b, #ff0084); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-position-y: 70%;
    -moz-background-size:cover;
    background-size:cover;
    border-radius: 0;
  }
  .infomation {
    margin-bottom: 0px;
    color: var(--main-bg-color);
    background: linear-gradient(to right, #faf6f8, #ade644); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-position-y: 70%;
    -moz-background-size:cover;
    background-size:cover;
    border-radius: 0;
  }
  .index-home {
    margin-bottom: 0px;
    color: var(--main-bg-color);
    background:url(./images/header-bg.jpg) center no-repeat;
    background-position-y: 70%;
    -moz-background-size:cover;
    background-size:cover;
    border-radius: 0;
    /* background-color: var(--accent-color);
    background-size: cover;
    position: relative;
    z-index: 0;
    overflow: hidden; */
  }


.back{
margin-bottom: 0px;
color: var(--main-bg-color);
background: #ADA996;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

background-position-y: 70%;
-moz-background-size:cover;
background-size:cover;
border-radius: 0;
}
.mypage{
  margin-top: 5%;
  font-family: 'Kosugi', sans-serif;
}

.balloon1-left {
    position: relative;
    display: inline-block;
    margin: 1.5em 0 1.5em 15px;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background: #e0edff;
  }
  
  .balloon1-left:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-right: 15px solid #e0edff;
  }
  
  .balloon1-left p {
    margin: 0;
    padding: 0;
  }

  .balloon1-right {
    position: relative;
    display: inline-block;
    margin: 1.5em 15px 1.5em 0;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background: #e0edff;
  }
  
  .balloon1-right:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -15px;
    border: 15px solid transparent;
    border-left: 15px solid #e0edff;
  }
  
  .balloon1-right p {
    margin: 0;
    padding: 0;
  }

  /*テスト*/
  * {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
  }
  .background span {
    background: #ebefec;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80vmin;
    display: block;
    margin-top: 18.6vmin;
  }
  
  .background span:before {
    text-align: center;
    display: inline-block;
    width: 46vmin;
    content: 'light ';
  }
  .loader:hover + .background span:before {
    content: 'dark ';
  }
  
  .loader:hover,
  .loader:hover + .background {
    cursor: pointer;
    filter: invert(100%);
    transition: .5s;
  }
  
  .loader {
    z-index: 1;
    position: absolute;
    top: 58%;
    left: 50.2%;
    transition: .5s;
  }
  
  .load_base {
    position: absolute;
    background: black;
  }
  
  .load1,
  .load2 {
    width: 20vmin;
    height: 20vmin;
    left: calc(50% - 1.25vmin - 10vmin);
    top: calc(50% - 1.25vmin - 10vmin);
  }
  
  .load1 {
    animation: load1 2s ease infinite;
  }
  
  .load2 {
    background: transparent;
    animation: load2 2s ease infinite;
  }
  
  .out_loader {
    width: 18vmin;
    height: 18vmin;
    left: calc(50% - 9vmin);
    top: calc(50% - 9vmin);
    background: #ebefec;
    animation: load1 2s ease infinite;
  }
  
  .in_loader {
    width: 3vmin;
    height: 3vmin;
    border: 0.3vmin solid black;
    border-radius: 100vmin;
    background: #ebefec;
  }
  
  .in_loader1 {
    animation: in_load1 2s ease infinite;
  }
  
  .in_loader2 {
    animation: in_load2 2s ease infinite;
  }
  
  .in_loader3 {
    animation: in_load3 2s ease infinite;
  }
  
  .in_loader4 {
    animation: in_load4 2s ease infinite;
  }
  
  @keyframes load1 {
    0% {
      transform: rotate(0deg);
      border-radius: 2vmin;
    }
    60% {
      transform: rotate(360deg);
      border-radius: 10vmin;
    }
    80% {
      transform: rotate(360deg);
      border-radius: 7vmin;
    }
    90% {
      transform: rotate(360deg);
      border-radius: 3.5vmin;
    }
    100% {
      transform: rotate(360deg);
      border-radius: 2vmin;
    }
  }
  
  @keyframes load2 {
    0% {
      transform: rotate(0deg);
    }
    60% {
      transform: rotate(-360deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  
  @keyframes in_load1 {
    0% {
      opacity: 0;
      top: calc(50% - 1.25vmin);
      left: calc(50% - 1.25vmin);
    }
    25% {
      opacity: 0;
    }
    35% {
      opacity: 1;
    }
    60% {
      top: calc(-50% - 1.25vmin);
      left: calc(50% - 1.25vmin);
    }
    68% {
      opacity: 1;
    }
    72% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      top: calc(50% - 1.25vmin);
      left: calc(50% - 1.25vmin);
    }
  }
  
  @keyframes in_load2 {
    0% {
      opacity: 0;
      top: calc(50% - 1.25vmin);
      left: calc(50% - 1.25vmin);
    }
    25% {
      opacity: 0;
    }
    35% {
      opacity: 1;
    }
    70% {
      top: calc(50% - 1.25vmin);
      left: calc(150% - 1.25vmin);
    }
    76% {
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      top: calc(50% - 1.25vmin);
      left: calc(50% - 1.25vmin);
    }
  }
  
  @keyframes in_load3 {
    0% {
      opacity: 0;
      top: calc(50% - 1.25vmin);
      left: calc(50% - 1.25vmin);
    }
    25% {
      opacity: 0;
    }
    35% {
      opacity: 1;
    }
    80% {
      top: calc(150% - 1.25vmin);
      left: calc(50% - 1.25vmin);
    }
    84% {
      opacity: 1;
    }
    88% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      top: calc(50% - 1.25vmin);
      left: calc(50% - 1.25vmin);
    }
  }
  
  @keyframes in_load4 {
    0% {
      opacity: 0;
      top: calc(50% - 1.25vmin);
      left: calc(50% - 1.25vmin);
    }
    25% {
      opacity: 0;
    }
    35% {
      opacity: 1;
    }
    90% {
      top: calc(50% - 1.25vmin);
      left: calc(-50% - 1.25vmin);
    }
    91% {
      opacity: 1;
    }
    95% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      top: calc(50% - 1.25vmin);
      left: calc(50% - 1.25vmin);
    }
  }
  